/* SCSS document */
.description code {
	font-style: normal;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

dt {
	font-weight: bold;
}

dd,
dt,
span.nobreak {
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
}

dt,
span.nobreak {
	break-after: avoid;
	-webkit-column-break-after: avoid;
}

.col-2 {
	-webkit-column-gap: 2rem;
			column-gap: 2rem;
	-webkit-column-rule: 1px solid;
			column-rule: 1px solid;
	-webkit-columns: 2 15rem;
			columns: 2 15rem;
}

.col-3 {
	-webkit-column-gap: 2rem;
			column-gap: 2rem;
	-webkit-column-rule: 1px solid;
			column-rule: 1px solid;
	-webkit-columns: 3 15rem;
			columns: 3 15rem;
}

.col__nobreak {
	-webkit-column-break-inside: avoid;
			break-inside: avoid-column;
}

.wp-admin-lite-blue {
	color: #21759b;
}

.wp-admin-red {
	color: #d64e07;
}

.notice .dashicons {
	display: inline;
	line-height: 1.5rem;
	font-weight: 700;
	font-size: 1rem;
	color: #333;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-margin-before: 0;
	margin-block-start: 0;
	-webkit-margin-after: 0;
	margin-block-end: 0;
	-webkit-margin-start: 0;
	-moz-margin-start: 0;
	margin-inline-start: 0;
	-webkit-margin-end: 0;
	-moz-margin-end: 0;
	margin-inline-end: 0;
	vertical-align: middle;
}

.notice-success .dashicons {
	color: #46b450;
}

.notice-info .dashicons {
	color: #00a0d2;
}

.notice-warning .dashicons {
	color: #ffb900;
}

.notice-error .dashicons {
	color: #dc3232;
}

summary {
	cursor: pointer;
}

details {
	border: 1px solid #21759b;
	border-bottom: none;
	padding: 1rem;
}

details:last-of-type {
	border: 1px solid #21759b;
}

details[open] summary ~ * {
	-webkit-animation: sweep .5s ease-in-out;
			animation: sweep .5s ease-in-out;
}

@-webkit-keyframes sweep {
	0% {
		opacity: 0;
		margin-left: -10px;
	}

	100% {
		opacity: 1;
		margin-left: 0px;
	}
}

@keyframes sweep {
	0% {
		opacity: 0;
		margin-left: -10px;
	}

	100% {
		opacity: 1;
		margin-left: 0px;
	}
}

.input-display {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, monospace;
	text-align: right;
}

.input-display:disabled {
	background: #fff;
	border-color: #7e8993;
	-webkit-box-shadow: 0 0 0 transparent;
			box-shadow: 0 0 0 transparent;
	color: #32373c;
}

input[type=range] {
	-webkit-appearance: none;
	display: inline-block;
	margin: 0;
	width: 15rem;
	background: transparent;
}

input[type=range]:focus {
	outline: none;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 0 1px #007cba;
			box-shadow: 0 0 0 1px #007cba;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 15rem;
	height: 1rem;
	color: transparent;
	background: #fff;
	border-radius: 999px;
	border: 1px solid #7e8993;
}

input[type=range]::-moz-range-track {
	-webkit-appearance: none;
	width: 15rem;
	height: 1rem;
	color: transparent;
	background: #fff;
	border-radius: 999px;
	border: 1px solid #7e8993;
}

input[type=range]::-ms-track {
	-webkit-appearance: none;
	width: 15rem;
	height: 1rem;
	color: transparent;
	background: #fff;
	border-radius: 999px;
	border: 1px solid #7e8993;
}

input[type=range]::-ms-fill-lower {
	display: none;
}

input[type=range]::-ms-fill-upper {
	display: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	bottom: 1px;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background: #007cba;
	-webkit-box-shadow: 0px 2px 10px -2px black(1);
			box-shadow: 0px 2px 10px -2px black(1);
}

input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	position: relative;
	bottom: 1px;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background: #007cba;
	box-shadow: 0px 2px 10px -2px black(1);
}

input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	position: relative;
	bottom: 1px;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background: #007cba;
	box-shadow: 0px 2px 10px -2px black(1);
}

.ticks {
	width: 14rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding: 0.5rem 0.5rem;
}

.tick {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	width: 1px;
	background: gray;
	height: 0.5rem;
	line-height: 2.5rem;
	margin-bottom: 1rem;
}

#fsrs_settings .form-table td,
#fsrs_settings .form-table th {
	padding: 1rem;
}

#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table td,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table th {
	padding: 1rem;
}

#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(5),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(5) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(6),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(6) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(7),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(7) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(8),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(8) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(17),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(17) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(18),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(18) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(19),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(19) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(20),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(20) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(21),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(21) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(22),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(22) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(23),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(23) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(24),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(24) th,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(25),
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(25) th {
	color: #fff;
	background-color: #0073aa;
}

#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(5) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(5) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(6) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(6) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(7) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(7) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(8) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(8) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(17) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(17) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(18) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(18) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(19) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(19) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(20) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(20) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(21) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(21) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(22) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(22) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(23) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(23) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(24) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(24) th code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(25) code,
  #fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(25) th code {
	color: #23282d;
	background-color: yellow;
}

#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(5) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(6) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(7) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(8) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(17) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(18) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(19) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(20) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(21) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(22) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(23) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(24) a,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(25) a {
	color: #ffec99;
}

#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(5) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(6) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(7) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(8) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(17) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(18) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(19) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(20) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(21) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(22) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(23) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(24) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(25) a:active,
#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(5) a:hover tr:nth-of-type(6) a:hover tr:nth-of-type(7) a:hover tr:nth-of-type(8) a:hover tr:nth-of-type(17) a:hover tr:nth-of-type(18) a:hover tr:nth-of-type(19) a:hover tr:nth-of-type(20) a:hover tr:nth-of-type(21) a:hover tr:nth-of-type(22) a:hover tr:nth-of-type(23) a:hover tr:nth-of-type(24) a:hover tr:nth-of-type(25) a:hover {
	color: #ffe880;
}

#fsrs_settings input[value="/wp-admin/options-general.php?page=five-star-ratings-shortcode&tab=generator"] ~ .form-table tr:nth-of-type(16) {
	background-color: #80d7ff;
}

input.error {
	border: 3px solid #dd3232;
	border-radius: 3px;
}

.validationError .error {
	white-space: nowrap;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	overflow-x: scroll;
	max-width: 100vw;
	color: black;
}

#shortcode {
	border: .25rem solid #0073aa;
	border-radius: .25rem;
	padding: 1px .5rem 0 .5rem;
	margin-bottom: 1rem;
}

#shortcode code {
	font-size-adjust: larger;
	background: yellow;
}

.dashicons-coffee {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
